<section class="bg-primary" id="about" xmlns="http://www.w3.org/1999/html">
    <img src="{{site.logo}}" class="logowatermark" alt="Baoz logo">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading text-center highlight">About Me</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row flex-lg-row-reverse g-5 py-5">
            <div class="col-5 col-lg-5">
                <div class="row text-center">
                    <img src="img/profile/profile.jpg" loading="lazy" class="aboutmeprofile" alt="profile picture">
                </div>
            </div>

            <div class="col-lg-7 text-center fontblack">
                <h4 class="lead text-justify">
                    Hi, I'm <span class="highlight">Baoz</span>, a Nutritionist and Personal Trainer (PT) with over 3 years
                    of experience in the health & fitness industry. I'm also a skilled dancer and have experience in teaching children's dance classes.
                </h4>
                <h4 class="lead text-justify">
                    您好，我是 <span class="highlight">肉包</span>，一位擁有超過3年健康與健身產業經驗的營養師和私人教練、同時是一位多年舞者，擁有親子舞蹈教學的經驗。
                </h4>
                <h4 class="lead text-justify">
                    I have missed some opportunities due to my body shape, but I have also turned my life around.
                    I lost weight, improved my body fat and health indicators in just three months.
                    I found that true beauty is not just about being thin, but about having strength and vitality.
                </h4>
                <h4 class="lead text-justify">
                    我曾因體態失衡錯失舞蹈演出機會,卻也因此翻轉人生。
                    我在三個月內成功減重、改善體脂與健康指數。
                    我發現:真正的美,不是瘦,而是有力量、有活力。
                </h4>
                <h4 class="lead text-justify">
                    The above brought me to work in the industry to inspire, motivate to get the best results for my clients.
                    I combine my dance background, parenting teaching experience and health expertise,
                    focusing on helping "elderly" and "beauty" to regain confidence and good body shape,
                    so that everyone can "easily, gracefully and effectively" change their health, live a happier life!
                </h4>
                <h4 class="lead text-justify">
                    這些經歷促使我進入這個行業，以激勵和鼓舞他人，為客戶取得最佳成果。
                    結合我的舞蹈背景、親子教學經驗與健康專業,
                    我專注幫助 「樂齡族群」與「愛美女性」找回自信與好體態,
                    讓每一個人都能「輕鬆、優雅、有感」地變健康,活得更開心!
                </h4>

                <h4 class="lead text-justify">
                    立即預約免費諮詢，了解更多資訊。
                </h4>
                <a href="{{ site.url }}{{ site.baseurl }}/booking#book" class="btn btn-default btn-lg"
                   rel="noopener noreferrer">
                    Book Today &raquo;
                </a>
                <a href="{{ site.url }}{{ site.baseurl }}/booking#book" class="btn btn-default btn-lg"
                   rel="noopener noreferrer">
                    立即預約 &raquo;
                </a>
            </div>
        </div>
    </div>

    <img src="{{site.logo}}" class="logowatermark" alt="Baoz logo">

</section>
